{% extends 'RestaurantBundle::layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Le restaurant: {{ restaurant.name }}</h2>
                <hr class="star-primary">
            </div>
        </div>
            <div class="row">
                <div class="col-sm-4">
                    <p>Adresse: {{ restaurant.adress }}</p>
                    <p>Téléphone: {{ restaurant.tel }}</p>
                    <p>Description: {{ restaurant.description }}</p>
                    <hr class="star-primary">
                    <div class="row">
                        <div class="col-l-12">
                            <p><h3>Les plats proposés:</h3></p>
                            {% for plat in restaurant.plats %}
                            <div class="col-l-4 pull-left">
                                <p>Nom du plat: {{ plat.name }} :  {{ plat.prix }}€</p>
                                <p>Composition: {{ plat.composition }}</p>
                                <p>Type: {{ plat.type.name }}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
